<a href="https://colab.research.google.com/github/Jabaananth/NASA-NEAR_EARTH-OBJECT-NEO-/blob/main/My%20first%20project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests

In [ ]:
API_KEY="QOgcWi2XIvXqRpGmcDgdQaPCNqttAUb6d3aSek9n"
url=f"https://api.nasa.gov/neo/rest/v1/feed?start_date=2024-01-01&end_date=2024-01-07&api_key={API_KEY}"
response=requests.get(url)

In [ ]:
data = response.json()

In [ ]:
data

In [ ]:
data.keys()

In [ ]:
data['near_earth_objects'].keys()

In [ ]:
data['links']['next']

In [ ]:
data['near_earth_objects'].keys()

In [ ]:
data['near_earth_objects']['2024-01-01']

In [ ]:
len(data['near_earth_objects']['2024-01-02'])

In [ ]:
details = data['near_earth_objects']

In [ ]:
details

In [ ]:
details['2024-01-01'][0]['name']

In [ ]:
type(details['2024-01-01'][0]['absolute_magnitude_h'])

In [ ]:
asteroids_data = []
target = 10000
url = f"https://api.nasa.gov/neo/rest/v1/feed?start_date=2024-01-01&end_date=2024-01-08&api_key={API_KEY}"

while len(asteroids_data) < target:
    response = requests.get(url)
    data = response.json()
    details = data['near_earth_objects']
    for date,info in details.items():
      for i in info:
        asteroids_data.append(dict(id = i['id'],
        name = i['name'],
        mag= float(i['absolute_magnitude_h']),
        dia_min=float(i['estimated_diameter']['kilometers']['estimated_diameter_min']),
        dia_max=float (i['estimated_diameter']['kilometers']['estimated_diameter_max']),
        hazardous=bool(i['is_potentially_hazardous_asteroid']),
        date=(i['close_approach_data'][0]['close_approach_date']),
        velocity=float(i['close_approach_data'][0]['relative_velocity']['kilometers_per_hour']),
        atml=float(i['close_approach_data'][0]['miss_distance']['astronomical']),
        miss_dis=float(i['close_approach_data'][0]['miss_distance']['kilometers']),
        lunar= float(i['close_approach_data'][0]['miss_distance']['lunar']),
        orbiting_body=(i['close_approach_data'][0]['orbiting_body']),
                             ))

        if len(asteroids_data) >= target:
            break
      if len(asteroids_data) >= target:
          break

url = data['links']['next']

In [ ]:
asteroids_data

In [ ]:
len(asteroids_data)

In [ ]:
type(asteroids_data)

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame(asteroids_data)
print(df.to_string(index=False))

In [ ]:
asteroids_data

In [ ]:
df=df[['id','name','mag','dia_min','dia_max','hazardous']]

In [ ]:
df.keys()

In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector as db
import pandas as pd

In [ ]:
connection=db.connect(
            host="localhost",
            user="NASA PROJECT",
            password='Nasa@123',
            database='nasa_project'

)

In [ ]:
connection

In [ ]:
curr=connection.cursor()

# table 1

In [ ]:
curr.execute("""
create table ASTEROIDS(
ID INT,NAME VARCHAR(50),MAGNITUDE FLOAT,DIAMETER_MIN FLOAT,DIAMETER_MAX FLOAT,HAZARDOUS BOOLEAN);
""")

In [ ]:
insert="""
insert into ASTEROIDS(ID, NAME, MAGNITUDE, DIAMETER_MIN, DIAMETER_MAX, HAZARDOUS)values (%s,%s,%s,%s,%s,%s)

"""
for i in asteroids_data:
    values=(i['id']), (i['name']), (i['mag']), (i['dia_min']),(i['dia_max']), (i['hazardous'])
    curr.execute(insert,values)
    connection.commit();

In [ ]:
values

# table 2

In [ ]:
curr.execute("""
create table close_approach(
ID INT,CL_DATE DATE,VELOCITY FLOAT,ASTRONOMICAL FLOAT,M_DIS_KM FLOAT,M_DIS_LUNAR Float, ORBIT_BODY TEXT);
""")

In [ ]:
insert1="""
insert into close_approach(ID,CL_DATE,VELOCITY,ASTRONOMICAL,M_DIS_KM,M_DIS_LUNAR, ORBIT_BODY)values (%s,%s,%s,%s,%s,%s,%s)

"""
for i in asteroids_data:
    values=(i['id']),(i["date"]),(i["velocity"]), (i["atml"]),(i["miss_dis"]),(i["lunar"]),(i["orbiting_body"])
    curr.execute(insert1,values)
    connection.commit();

In [ ]:
pip install streamlit

In [ ]:
import streamlit as st

In [ ]:
st.header("i my first project")

In [ ]:
st.write("hello, this is my project 1")

In [ ]:
    curr.execute("""
        SELECT ID,NAME, COUNT(*) AS approach_count
        FROM NASA_PROJECT.asteroids
        GROUP BY ID,NAME
        ORDER BY approach_count DESC;
    """)
    data = curr.fetchall()
    df = pd.DataFrame(data, columns=["ID", "NAME"])
    st.dataframe(df)